# Gerado pelo Ansible (vector-provision.yml) — não editar manualmente.
"{{ vector_data_root }}/logs/*/*/*/*.log" {
    missingok
    notifempty
    nocreate
    copytruncate
    compress
    dateext
    dateformat -%H
    extension .log
    rotate 100000
    su {{ vector_system_user }} {{ vector_system_group }}
}
